form {
  margin-top: 3rem;
}

fieldset {
  border: none;
  padding-top: 1.5rem;
  display: grid;
  gap: 1rem;
}

fieldset + fieldset {
  margin-top: 3rem;
}

legend {
  font: 600 1rem/125% var(--font-family);
  color: var(--text-primary);
}

label {
  font: 400 .875rem/140% var(--font-family);
  color: var(--text-secondary);
  display: block;
  margin-bottom: .25rem;
}

input, select, textarea {
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--stroke-default);

  appearance: none;

  padding: .75rem 1rem;
}

input:focus, input:hover,
select:focus, select:hover,
textarea:focus, textarea:hover,
input[type="date"]:focus-within {
  outline: .25rem solid var(--surface-secondary);
  border: 1px solid var(--stroke-highlight);
  outline-offset: .1px;
}


input[placeholder], textarea[placeholder] {
  font: 400 1rem/150% var(--font-family);
  color: var(--text-tertiary);
}

input[type="date"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
   opacity: 0; 

  }

  &::before {
    content: "";
    position: absolute;
    background: url(/assets/icons-interface/calendar-03.svg) center/contain;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    /* top: 50%;
    transform: translateY(-50%) */
  }
 }

 select{
  background: url(/assets/icons-interface/arrow-down-01.svg) no-repeat calc(100% - 1rem);
 }

.file {
  border: 1px dashed var(--stroke-default);
  border-radius: .25rem;
  display: grid;
  justify-items: center;
  gap: .5rem;
  text-align: center;

  padding-block: 1.75rem ;
  position: relative;
  
  & input {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    opacity: 0;
  }

  p {
    font: 400 1rem/150%var(--font-family);
    color: #A8A29E;
  } 
 }

.file:focus, .file:hover {
  background-color: var(--surface-secondary);
  border: 1px dashed var(--stroke-highlight);
  

  & p {
    color: var(--text-tertiary);
  }

  & svg path {
    stroke: var(--stroke-highlight);
  }
}

.adress .flex {
  gap: 1.25rem;
}

.input-wrapper:has([disabled]) {
  opacity: .5;
}

input {
  &[disabled] {
    background-color: var(--surface-disabled);
    border: 1px solid var(--stroke-default);

    color: var(--text-primary);
  }

  &:invalid {
    border: .125rem solid var(--semantic-error);
  }

  & + small {
    font: 400 .875rem/140% var(--font-family);
  color: #78716C;
  display: inline-block;
  padding-top: .25rem;
  }

  &[required] + .error {
    display: flex;
    align-items: center;
    gap: .25rem;
    font: 400 .875rem/140% var(--font-family);
    color: var(--semantic-error);

    margin-top: .25rem;
  }

  &:not(:focus):valid + .error {
    display: none;
  }
}

label + .radio-wrapper {
  margin-top: 1rem;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 1rem;
}

.radio-inner {
  border: .125rem solid var(--stroke-default);
  border-radius: .5rem;

  display: grid;
  justify-items: center;
  gap: .5rem;
  padding: 2rem .5rem .5rem;

  position: relative;

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .radio-img {
    background-image: url(/assets/icons-options/circle-default.svg);
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: .5rem;
    top: .5rem;
  }

  &:hover, &:focus-within {
    border: .125rem solid var(--stroke-highlight);

    & .radio-img {
      background-image: url(/assets/icons-options/circle-focus.svg);
    }
  }

  &:has(:checked) {
    border: .125rem solid var(--stroke-highlight);

    & .radio-img {
      background-image: url(/assets/icons-options/checkmark-circle-01.svg);
    }
  }
}

.terms-wrapper {
  margin-top: 3rem;
  display: flex;
  gap: .75rem;
  align-items: flex-start;

  & strong {
    font-weight: 500;
    color: var(--text-hightlight);
  }
}

.checkbox-wrapper {
  position: relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-img {
    flex: 0 0 1.5rem;
    height: 1.5rem;
    background-image: url(/assets/icons-options/square-default.svg);
  }

  &:hover .checkbox-img, &:focus-within .checkbox-img {
    background-image: url(/assets/icons-options/checkbox-hover.svg);
  }

  &:has(:checked) .checkbox-img {
    background-image: url(/assets/icons-options/checkmark-square-01.svg);
  }
}

.actions-wrapper {
  margin-top: 3rem;
  display: flex;
  gap: 1.5rem;
}

button {
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  border: 1px solid var(--text-hightlight);
  cursor: pointer;

  &.save {
    background-color: #ffffff;
    font: 600 1rem/150% var(--font-family);
    color: var(--text-hightlight);
  
    margin-left: auto;
  }

  &.save:hover, &.save:focus-within {
    outline: .25rem solid var(--surface-secondary);
    border: 1px solid var(--stroke-highlight);
    outline-offset: .1px;
  }

  &.mat {
    font: 600 1rem/150% var(--font-family);
    color: #ffffff;
    background-color: var(--text-hightlight);
  }

  &.mat:hover, &.save:focus-within {
    background-color: var(--stroke-highlight);
  }
  }